In [2]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [3]:
df = pd.read_csv('She Leads _ Endterm Survey _ GYW Members.csv', encoding='utf-8')

In [4]:
df['start']

0        2025. 9. 3. 오전 11:03:42
1         2025. 9. 3. 오전 9:36:23
2        2025. 9. 3. 오전 11:02:09
3         2025. 9. 3. 오전 9:31:05
4         2025. 9. 3. 오전 9:47:33
                  ...
1569    2025. 9. 28. 오전 10:19:08
1570     2025. 9. 27. 오후 6:08:33
1571     2025. 9. 12. 오후 5:01:28
1572     2025. 9. 27. 오후 6:51:14
1573     2025. 10. 1. 오전 8:32:25
Name: start, Length: 1574, dtype: object

In [5]:
mapping_list = [
    ('c1','Sierra Leone'), ('c2','Ghana'), ('c3','Liberia'), ('c4','Mali'), ('c5','Kenya'),
    ('c6','Uganda'), ('c7','Ethiopia'), ('c8','Lebanon'), ('c9','Jordan'),
    ('y1','Yes'), ('y2','No'),
    ('g1','Female'), ('g2','Male'), ('g3','Prefer not to say'), ('g96','Other (please specify)'),
    ('age_1','Under 18'), ('age_2','18-25'), ('age_3','25-35'),
    ('dis_1','A lot of difficulty seeing, even when wearing glasses'),
    ('dis_2','A lot of difficulty hearing, even when using a hearing aid'),
    ('dis_3','A lot of difficulty walking or climbing steps'),
    ('dis_4','A lot of difficulty using usual language, or communicating, for example understanding or being understood'),
    ('dis_5','A lot of difficulty remembering or concentrating'),
    ('dis_6','A lot of difficulty with self care, such as washing all over or dressing'),
    ('dis_7','Refuse to Answer'), ('dis_99','No difficulties (with any of the above)'),
    ('role_1','I am a regular member'), ('role_2','I help organise activities and events'),
    ('role_3','I am part of the leadership team'), ('role_4','I founded to co-founded the group'),
    ('role_5','I support with communication, outreach and advocacy'), ('role_96','Other (please specify)'),
    ('local_1','Rural'), ('local_2','Semi-urban'), ('local_3','Urban'),
    ('gs_1','Less than 10'), ('gs_2','11 to 20'), ('gs_3','21 to 30'), ('gs_4','More than 30'),
    ('e5_1','1 - Not at all'), ('e5_2','2 - Slightly'), ('e5_3','3 - Moderately'), ('e5_4','4 - A lot'), ('e5_5','5 - Extremely'),
    ('hc_1','1'), ('hc_2','2'), ('hc_3','3'), ('hc_4','4'), ('hc_5','5+'),
    ('actv_1','Advocacy or campaigning'), ('actv_2','Group meetings or safe spaces'),
    ('actv_3','Speaking to decision-makers'), ('actv_4','Media or social media work'), ('actv_96','Other (please specify)'),
    ('ptn_1','Other girls and young women'), ('ptn_2','Adult-led civil society organizations'),
    ('ptn_3','Government officials'), ('ptn_4','Community leaders (elders, religious leaders)'),
    ('ptn_5','Parents or family'), ('ptn_6','Boys or young men'),
    ('chan_1','More confidence to speak out'), ('chan_2','More girls and young women in leadership roles'),
    ('chan_3',"More respect for girls' voices in the community"), ('chan_4',"More respect for girls' voices in government decision-making"),
    ('chan_5','More support from adults'), ('chan_96','Other (please specify)'), ('chan_99','No changes'),
    ('chg_1','Advocacy or campaigning by our group'), ('chg_2','Community awareness sessions'),
    ('chg_3','Speaking to decision-makers'), ('chg_4','Media or social media campaigns'),
    ('chg_5','Role models in the community'), ('chg_6','Local laws or policies'), ('chg_7','Support from traditional or religious leaders'),
    ('chg_96','Other (please specify)'), ('chg_99','Not sure / no change'),
    ('yy1','Yes'), ('yy2','No'), ('yy97','Not sure'),
    ('ssa_1','Applied for funding'), ('ssa_2','Trained new leaders'), ('ssa_3','Built partnerships with other groups'),
    ('ssa_4','Created a long-term plan'), ('ssa_96','Other (please specify)'), ('ssa_99','None'),
    ('int_1','Created or updated strategy'), ('int_2','More GYW involved in decision-making'),
    ('int_3','Stronger safeguarding and inclusion focus'), ('int_4','New partnerships or coalitions'), ('int_99','No major changes'),
    ('ho_1','Never'), ('ho_2','Sometimes'), ('ho_3','Often'), ('ho_4','Always'),
    ('hod_1','Never'), ('hod_2','Sometimes – with adults'), ('hod_3','Often – shared equally with adults'),
    ('hod_4','Often – I led, with support'), ('hod_5','I made decisions without adults'),
    ('cha_1','COVID-19'), ('cha_2','Conflict or violence'), ('cha_3','Lack of funding'), ('cha_4','Community opposition'),
    ('cha_5','Online harassment'), ('cha_96','Other (please specify)'), ('cha_99','None')
]

mapping_dict = dict(mapping_list)

In [6]:
month_map = {
    '1월':'1', '2월':'2', '3월':'3', '4월':'4', '5월':'5', '6월':'6',
    '7월':'7', '8월':'8', '9월':'9', '10월':'10', '11월':'11', '12월':'12'
}
section_cols = [
    'SectionA-a4', 'SectionD-d1', 'SectionD-d2', 'SectionD-d3', 
    'SectionD-d4', 'SectionE-e2', 'SectionG-g9', 'SectionI-i1'
]
df['start'] = df['start'].str[:-3]
df['end'] = df['end'].str[:-3]

# datetime 변환
df['start_dt'] = pd.to_datetime(df['start'], errors='coerce')
df['end_dt'] = pd.to_datetime(df['end'], errors='coerce')

# 시간 00:00:00으로 변경
df['start_date'] = df['start_dt'].dt.normalize()
df['end_date'] = df['end_dt'].dt.normalize()

# duration 계산 (분 단위)
df['duration_min'] = (df['end_dt'] - df['start_dt']).dt.total_seconds() / 60

for col in section_cols:
    df[col] = df[col].apply(lambda x: [mapping_dict.get(i, i) for i in str(x).split()])

# 2. 각 열 별로 MultiLabelBinarizer 적용 + 컬럼 이름 뒤에 "_" 붙이기
df_encoded_list = []
for col in section_cols:
    mlb = MultiLabelBinarizer()
    temp = pd.DataFrame(mlb.fit_transform(df[col]),
                        columns=[f"{col}_{c}" for c in mlb.classes_],
                        index=df.index)
    df_encoded_list.append(temp)

# 3. 합치기
df_encoded = pd.concat(df_encoded_list, axis=1)

# 4. 기존 Section 열 제거하고 다른 컬럼과 합치기
df_final = pd.concat([df.drop(columns=section_cols), df_encoded], axis=1)

df_mapped = df_final.applymap(lambda x: mapping_dict.get(x, x))

/var/folders/0j/3kbdg36x21z37qcc3fqxx_0m0000gn/T/ipykernel_53224/1242542672.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['start_dt'] = pd.to_datetime(df['start'], errors='coerce')
/var/folders/0j/3kbdg36x21z37qcc3fqxx_0m0000gn/T/ipykernel_53224/1242542672.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['end_dt'] = pd.to_datetime(df['end'], errors='coerce')
/var/folders/0j/3kbdg36x21z37qcc3fqxx_0m0000gn/T/ipykernel_53224/1242542672.py:41: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_mapped = df_final.applymap(lambda x: mapping_dict.get(x, x))

In [8]:
df_mapped['end']

0        2025. 9. 3. 오후 12:08
1        2025. 9. 3. 오전 10:59
2        2025. 9. 3. 오전 11:39
3        2025. 9. 3. 오전 10:30
4        2025. 9. 3. 오전 10:37
                ...
1569     2025. 9. 30. 오후 7:10
1570     2025. 9. 30. 오후 7:15
1571     2025. 9. 30. 오후 7:18
1572     2025. 9. 30. 오후 7:24
1573    2025. 10. 1. 오전 10:02
Name: end, Length: 1574, dtype: object

In [14]:
import pandas as pd

def parse_korean_datetime(dt_str):
    if pd.isna(dt_str):
        return pd.NaT
    
    dt_str = str(dt_str).strip()
    dt_str = dt_str.replace("오전", "AM").replace("오후", "PM")
    
    # 초가 없으면 ":00" 추가
    if len(dt_str.split(":")) == 2:  # HH:MM만 있는 경우
        dt_str += ":00"
    
    # 변환 시도
    try:
        return pd.to_datetime(dt_str, format="%Y. %m. %d. %p %I:%M:%S")
    except:
        return pd.to_datetime(dt_str, errors="coerce")  # 자동 추론 fallback

df_mapped["start"] = df_mapped["start"].apply(parse_korean_datetime)
df_mapped["end"] = df_mapped["end"].apply(parse_korean_datetime)
df_mapped["SubmissionDate"] = df_mapped["SubmissionDate"].apply(parse_korean_datetime)
df_mapped['end']

0      2025-09-03 12:08:00
1      2025-09-03 10:59:00
2      2025-09-03 11:39:00
3      2025-09-03 10:30:00
4      2025-09-03 10:37:00
               ...
1569   2025-09-30 19:10:00
1570   2025-09-30 19:15:00
1571   2025-09-30 19:18:00
1572   2025-09-30 19:24:00
1573   2025-10-01 10:02:00
Name: end, Length: 1574, dtype: datetime64[ns]

In [16]:
import pandas as pd
import re

def convert_korean_date(date_str):
    if pd.isna(date_str):
        return pd.NaT
    
    # 이미 datetime인 경우 그대로 처리
    if isinstance(date_str, pd.Timestamp):
        return date_str.strftime("%Y-%m-%d")
    
    # 문자열인 경우 (YYYY. M. D.)
    return pd.to_datetime(str(date_str), format="%Y. %m. %d.").strftime("%Y-%m-%d")

df_mapped["today"] = df_mapped["today"].apply(convert_korean_date)



df_mapped = df_mapped[~((df_mapped['country'] == 'Kenya') & (df_mapped['today'] == '2025-09-03'))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Kenya') & (df_mapped['today'] == '2025-09-16'))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Kenya') & (df_mapped['today'] == '2025-09-17'))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Kenya') & (df_mapped['today'] == '2025-09-18'))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Ethiopia') & (df_mapped['today'] < '2025-09-11'))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Uganda') & (df_mapped['today'] ==  "2025-09-10"))]
df_mapped = df_mapped[~((df_mapped['country'] == 'Uganda') & (df_mapped['end'] <= "2025-09-12 12:00:00"))]
df_mapped.loc[868, "country"] = "Ethiopia"
df_mapped.to_excel('Sweetgum_cleaned.xlsx')

In [10]:
df_mapped.describe().to_excel('info.xlsx')

In [11]:
df_mapped[df_mapped['country'] == 'Uganda']['today'].unique()

array(['2025-09-15', '2025-09-12', '2025-09-16', '2025-09-17',
       '2025-09-18', '2025-09-19', '2025-09-20', '2025-09-22',
       '2025-09-23', '2025-09-24'], dtype=object)

In [16]:
df_mapped[df_mapped['country'] == 'Kenya'].today.unique()

array(['2025-09-04', '2025-09-05', '2025-09-08', '2025-09-11',
       '2025-09-12', '2025-09-13', '2025-09-19', '2025-09-20',
       '2025-09-21', '2025-09-22', '2025-09-23', '2025-09-24'],
      dtype=object)

In [20]:
df_mapped[(df_mapped['country'] == 'Ethiopia') & (df_mapped['today'] == '2025-09-13')].to_excel("ethipia.xlsx")

In [21]:
df_mapped[(df_mapped['country'] == 'Kenya') & (df_mapped['today'] == '2025-09-18')].to_excel("kenya.xlsx")

In [15]:
df_mapped.loc[868, "country"] = "Ethiopia"

In [17]:
df_mapped['region'] = df_mapped['region'].str.capitalize()

In [21]:
df_mapped['region'].value_counts()

region
Kwale               260
Kisumu              201
አማራ                 167
Eastern             132
Central             117
Karamoja            101
Nairobi             100
Addis ababa          67
Oromia               38
Kajiado              27
Amhara               26
Karamonja            24
A.a                  17
Eastern region       11
Aa                    7
Beirut                6
Mount lebanon         5
4                     4
Protestant            3
Muslim                3
Oromiya               2
Born again            2
Easthern              2
Catholic              2
Amahara               2
Addis abab            1
Coast                 1
Awasi                 1
6                     1
Benshangul gumuz      1
Sidama region         1
Moslem                1
Benshagul             1
14                    1
Harer                 1
Najrobi               1
Sidama                1
Dire dawa             1
Eastern.              1
Kiambu                1
Ld                    1
Name: count, dtype: int64

In [24]:
kwale_counts = (
    df_mapped[df_mapped['region'] == 'Kwale']
    .groupby('today')
    .size()
    .reset_index(name='count')
    .sort_values('today')
)

In [26]:
kwale_counts

        today  count
0  2025-09-20     55
1  2025-09-21     78
2  2025-09-22     84
3  2025-09-23     43

In [27]:
55 + 78 + 84 + 43

260

In [28]:
 df_mapped[df_mapped['region'] == 'Kwale']

,SubmissionDate,formhub-uuid,start,end,today,deviceid,enum_name,enum_id,country,region,...,SectionG-g9_Stronger safeguarding and inclusion focus,SectionG-g9_nan,SectionI-i1_COVID-19,SectionI-i1_Community opposition,SectionI-i1_Conflict or violence,SectionI-i1_Lack of funding,SectionI-i1_None,SectionI-i1_Online harassment,SectionI-i1_Other (please specify),SectionI-i1_nan
832,2025-09-20 07:40:49,41b4ad655a064e62a7bd49243b751f6b,2025-09-20 07:14:00,2025-09-20 07:40:00,2025-09-20,collect:kOm2aXmiI8lZeMnC,Emma Ningala,32820531,Kenya,Kwale,...,0,0,0,1,0,1,0,0,0,0
834,2025-09-20 07:47:10,41b4ad655a064e62a7bd49243b751f6b,2025-09-20 07:12:00,2025-09-20 07:47:00,2025-09-20,collect:BlMUZBfK8tSOBWLl,ASHA BEYA,39239974,Kenya,Kwale,...,1,0,1,0,1,1,0,0,0,0
835,2025-09-20 07:48:33,41b4ad655a064e62a7bd49243b751f6b,2025-09-20 07:20:00,2025-09-20 07:48:00,2025-09-20,collect:JURtbluESA5epgoi,Bintali Gandugu Boya,37104014,Kenya,Kwale,...,0,0,0,0,0,1,0,0,0,0
837,2025-09-20 08:15:14,41b4ad655a064e62a7bd49243b751f6b,2025-09-20 07:47:00,2025-09-20 08:15:00,2025-09-20,collect:BlMUZBfK8tSOBWLl,ASHA BEYA,39239974,Kenya,Kwale,...,1,0,1,0,1,1,0,0,0,0
838,2025-09-20 08:18:02,41b4ad655a064e62a7bd49243b751f6b,2025-09-20 07:51:00,2025-09-20 08:17:00,2025-09-20,collect:kOm2aXmiI8lZeMnC,Emma Ningala,32820531,Kenya,Kwale,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,2025-09-23 12:53:49,41b4ad655a064e62a7bd49243b751f6b,2025-09-23 12:40:00,2025-09-23 12:53:00,2025-09-23,collect:bVkVQMWiWwn1kydO,Rachel Marende,30915179,Kenya,Kwale,...,0,0,0,0,1,1,0,0,0,0
1375,2025-09-23 13:01:33,41b4ad655a064e62a7bd49243b751f6b,2025-09-23 11:56:00,2025-09-23 12:12:00,2025-09-23,collect:C7e1ugsDOSLkuVP7,Mejumaa hamisi mwabeha,37256577,Kenya,Kwale,...,1,0,0,1,0,1,0,0,0,0
1376,2025-09-23 13:01:34,41b4ad655a064e62a7bd49243b751f6b,2025-09-23 12:13:00,2025-09-23 12:24:00,2025-09-23,collect:C7e1ugsDOSLkuVP7,Mejumaa hamisi mwabeha,37256577,Kenya,Kwale,...,1,0,0,1,0,1,0,0,0,0
1377,2025-09-23 13:01:36,41b4ad655a064e62a7bd49243b751f6b,2025-09-23 12:24:00,2025-09-23 12:34:00,2025-09-23,collect:C7e1ugsDOSLkuVP7,Mejumaa hamisi mwabeha,37256577,Kenya,Kwale,...,1,0,0,1,0,1,0,0,0,0
1378,2025-09-23 13:01:38,41b4ad655a064e62a7bd49243b751f6b,2025-09-23 12:35:00,2025-09-23 12:58:00,2025-09-23,collect:C7e1ugsDOSLkuVP7,Mejumaa hamisi mwabeha,37256577,Kenya,Kwale,...,1,0,0,1,0,1,0,0,0,0